<h1>{{ entity }} edit</h1>

{{ "{% include '"~ bundle ~":"~ form_dir ~":form.html.twig' with { 'form': edit_form, 'entity': entity } %}" }}

{% set hide_edit, hide_delete = true, false %}
{% include 'views/others/record_actions.html.twig' %}
