<h1>{{ entity }} creation</h1>

{{ "{% include '"~ bundle ~":"~ form_dir ~":form.html.twig' with { 'form': form, 'entity': entity } %}" }}

{% set hide_edit, hide_delete = true, true %}
{% include 'views/others/record_actions.html.twig' %}
